@charset "utf-8";

/* CSSのリセット(絶対に書き換えない) */
html,body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li{
	margin:0;
	padding:0;
	font-size:100%;
	font-weight:normal;
	line-height:1;}

html { scroll-behavior: smooth;}
body {font-family:Cambria, Cochin,"Times New Roman", Times, serif;}
h2{
font-size:150%;
font-weight: bolder;
text-align: center;
padding-bottom: 20px;
padding-top: 30px;
}

/*ヘッダー*/
header{
    flex-wrap: nowrap;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: fixed; /*← fixedで固定 */
    width: 100%; 
    height: 60px; 
    padding: 3%; 
    box-sizing: border-box;
    align-items: center; 
}
h1{color:#fff;font-size: large;font-size:200%;}

a:link{color:#fff} a:visited{color:#fff}
.nav{
    display: flex;

}
.li-nav{
    padding: 5% 10% 5% 10%;
    margin: 2% 2% 2% 2%;
    color:#fff;
}

/*ヘッダー*/

/*メインビジュアル*/
.mv-title{
font-size: 250%;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
height:300px;
height: 200px;
}
/*メインビジュアル*/

/*プロフィール*/
/*
.profile-all{display: flex;}
*/
@media screen and(min-width:768px){
}
.prof-skil,.prof-like{
    box-shadow: 0px 0px 5px 0px gray;
    margin: 10% 10% 10% 10%;
    padding: 20px 20px 20px 20px;
    line-height: 150%;
    flex: 1;
}

p{line-height: 150%;}

.prof-likep{padding-bottom: 5%;}

.h3prof{text-align: center;font-weight:bolder;padding-bottom: 10%;padding-top: 3%;}

li{list-style-type:none;}

.ulskil{line-height:50px;}

/*画像調整*/
div.profimg{text-align: center;padding-top:3%;padding-bottom: 3%;}
 div.profimg img{
    border-radius: 50%;
    height:auto;
    width:35%;
   text-align: center;
}

/*プロフィール*/


/*works*/

.nekoandhukidashi{
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5% 5% 5% 5%;
}

/*\/←の設定！*/
.slashbefore{
    transform:rotate(70deg);
    width:5%;
    height:1px;
    background:#000;
}.slashafter{
    margin-top: 7%;
    transform:rotate(-50deg);
    width:5%;
    height:1px;
    background:#000;
}

.hukidashi{
 text-align: center;
 transform: rotate(7deg);
 font-size: smaller;
}

.nekochan{
    width: 30%;
    height: auto;
}


.hide-area{
    display: none;
  }
  

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
  background:#ccc;  
}
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}

.li-workslist{
    width:100%;
    height:50px;
    transition: transform 0.4s;
    position:relative;
}

/*アコーディオン全体*/
.ul-workslist{
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto; 
}

.workslist{
    margin: 0% 5% 0% 5%;
    height:50px;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    margin: 0% 5% 0% 5%;
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0px 0px 3px 0px gray;
}

.workstitle{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:130%;
    color: #000;
}

.flowerjpg img{
    width:100%;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.3;
    box-shadow: 0px 0px 5px 0px gray;
    border: solid 1px #000;
    border-radius: 10px;
}

.li-workslist:hover{transform: scale(1.05);}

.worksimg,.worksimg-h3{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}
.worksimg-h3{font-size: larger;}

.worksimg-1{
    width: 90%;
    height: auto;
    object-fit: cover;
    opacity: 0.3;
    transition: transform 0.4s;
  }

.worksimg-1:hover > img{
    transform: scale(1.15);
  }
.kuuhaku{padding: 3% 0 3% 0;}

.info{
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}


  

/*works*/

/*コンタクト*/

.form{
    box-shadow: 0px 0px 5px 0px gray;
    margin: 20px 20px 20% 20px;
    padding: 6% 6% 6% 6%;
    line-height: 150%;
}

input[type="email"],input[type="text"]{
    width: 94%;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 2% 3% 2% 3%;
    box-shadow: 0px 0px 5px 0px gray;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

textarea{
    width:95%;
    border-radius: 10px;
    height: 10rem;
    padding: 3% 3% 3% 3%;
    box-shadow: 0px 0px 5px 0px gray;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.submit{
    font-family:Cambria, Cochin,"Times New Roman", Times, serif;
    display       : inline-block;
    border-radius : 10px;
    text-align    : center;
    cursor        : pointer;
    padding       : 2% 5%;
    background    : #000;
    color         : #ffffff;
    margin-top: 5%;
}
/*コンタクト*/

/*フッター*/
footer{
    text-align:center;
    background-color: black;
    display: flex;
    align-items:center;
    color: #fff;
    height: 100px;
}
.footer-copy{ margin: 0 auto;}
/*フッター*/




